{% extends "layout.html.twig" %}

{% block title %}NikoWeb - NHC Web Interface{% endblock %}

{% block content %}
  <h1>NikoWeb - NHC Web Interface</h1>
  <p>Content : {{ testdate }}</p>
{% endblock %}
